$wrapWide: 1170px;//Ширина рабочей зоны

// Цвета 
$bgcolorSecond: #000000; // черный
$bgcolorMain: #341B00; //темно-коричневый
$accentColor: #95633E; // акцентный цвет кнопки линии и т.п.
// Цвет шрифта
$textColorLight:#FAFAFA; //цвет основного шрифта светлый
$textColorDark: #5C3001; //цвет основного шрифта светлый
$textColorTitleLight: #FFFFFF; //цвет шрифта светлого заголовка
$textColorTitleDark:#874702; //цвет шрифта темного заголовка

//-------


$maxWidth: 1170px; // для wrap

$header_height: 120px; // высота хэдера
$menu_height: 50px;// высота меню





@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


h1{
	
	@include adaptiv-font(50,32);
}

h2{
	
	@include adaptiv-font(40,30);	
	margin-top: 0;		
}
h3{	
	@include adaptiv-font(20,20);
	color: $textColorLight;
}

li{
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}
p{
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	color: $textColorLight;
	line-height: 170%;
	margin: 0;

}

body, html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", sans-serif;
	scroll-behavior: smooth;
	user-select: none;
}

//Убрать обводку с кнопок и инпутов

button, 
button:active, 
button:focus {
    outline: none;
}
input:active, input:focus{
	outline: none;
	
}
textarea:active, textarea:focus{
	outline: none;
}

//Убрать стрелки с инпутов
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
-moz-appearance:textfield;
}
.wrap{
	max-width: $maxWidth;	
	margin: 0 auto;
	height: auto;

}

// =======Конец общий раздел==========

// ========Начало header ==============
// div{
// 	border: 1px solid red;
// }
.header{
	max-width: 100%;
	height: $header_height;
	background-color: $bgcolorSecond;
	.wrap{
		margin-top: 10px;
		.wrap_header{
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			justify-items: center;
			align-items: center;

				.header_logo{
					color:$textColorLight;
				}
				.header_info{
					p{
						color:$textColorLight;
					}
				}
				.header_contacts{
					p{
						color:$textColorLight;
					}
				}

		}
	}
}

.header_logo{
	
		img{
			width: 65%;
	
		}
}
.box1{
justify-self: start;
}
.box2{
justify-self: center;
width: 100%;
}
.box3{
justify-self: end;
}

// ======Начало меню=======
.menu{
	background-color: $bgcolorMain;
	width: 100%;
	height: $menu_height;
	position: sticky;
	z-index: 9999;
	display: inline-block;
	

	
}
.wrap_menu{
	max-width: 1170px;
	//width: inherit;	
	height: $menu_height;
	display: grid;	
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
	margin: 0 auto;
	
}
.menu_box{	
		width: 100%;
		height: 100%;
		transition: .3s;
	a{
		max-width: 100%;
		height: 100%;
		display: flex;		
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: $textColorLight;

		

	}
}
.menu_box:hover{
	background-color: $accentColor;
		a{
			color: $textColorLight;
		}	
}	



// =====Начало мобильное меню======

.mobile_menu{
	display: none;
	background-color: $bgcolorMain;
	width: 100%;	
	position: sticky;
	height: auto;	
	top: 0px;

}

.hamburger{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 10px 10px;
	max-width: 100%;
	

}
.mobile_menu_button{
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-image: url(../img/header/bars-solid_1.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.mobile_menu_logo{
	max-width: 150px;
	height: 50px;
}
.wrap_mobile_menu{
	position: absolute;
	background-color: $bgcolorSecond; 
	padding: 10px 10px 10px 10px;
	width: 70%;
	height: 70vh;
	opacity: 0;
		.menu_box{
		width: 95%;
		height: 7%;
		transition: .3s;
		padding: 0 10px 0 10px;
			a{
				width: 100%;
				height: 100%;
				display: flex;		
				align-items: center;				
				justify-content: flex-start;
			}
		}
}
.menu_visible{
	opacity: 1;	
}
.mobile_menu_button{
	
}
.mobile_menu_button_down{
	width: 40px;
	height: 40px;
	background-image: url(../img/header/times-solid_1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: .3s;
	transform: rotate(360deg);
}

//========Страницы========
.page{
	width: 100%;	
	background-color: $bgcolorSecond;
	padding: 100px 0 100px 0;
}

// ====Стартовая страница каркас======
.page_start{
	height: calc(100vh - #{$header_height} - #{$menu_height});
	background-image: url(../img/page/main_foto_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.wrap{
		.wrap_title{
			h1{
				color:$textColorTitleLight;
			}
			h2{
				color:$textColorTitleLight;
			}
		}
	}
}

// ==== css каркас для остальных страниц ======
.page{
	.wrap{
		height: auto;
		
	}
}
.wrap_title{
			h2{
				color:$textColorTitleLight;
				text-align: center;
				margin-bottom: 70px;
			}
		}

// модификаторы для страницы Услуги
// div{
// 	border:1px solid white;
// }
.page{
	.wrap{
			.wrap_grid{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 15px;
				.wrap_box{
					//max-width: 270px;
					width: 100%;
					min-width: 40%;					
					background-color: $bgcolorMain;

						.wrap_box1_image{
							background-image: url(/img/page/wrap_box1_image.jpg);
							background-repeat: no-repeat;
							background-size: cover;
							max-width: 100%;
							height: 300px;
						}
						.wrap_box2_image, .wrap_box3_image, .wrap_box4_image{							
							background-repeat: no-repeat;
							background-size: cover;
							max-width: 100%;
							height: 100%;
						}
						.wrap_box2_image{
							background-image: url(/img/page/wrap_box1_image.jpg);
						}
						.wrap_box3_image{
							background-image: url(/img/page/wrap_box1_image.jpg);
						}
						.wrap_box4_image{
							background-image: url(/img/page/wrap_box1_image.jpg);
						}
						.wrap_box_title{
							text-align: center;
						}

				}
				.box1{ 
					grid-area: 1 / 1 / 4 / 2; 
					height: 100%;
				}
				.box2 { grid-area: 1 / 2 / 2 / 3;
					display: grid;
					grid-template-columns: 1fr 2fr;
					grid-template-rows: 1fr 2fr;
					grid-gap: 10px;
						.wrap_box2_image{grid-area: 1 / 1 / 3 / 2;}
						.wrap_box_title{grid-area: 1 / 2 / 2 / 3;}
						.wrap_box_subtitle{grid-area: 2 / 2 / 3 / 3; }
				 }
				.box3 { grid-area: 2 / 2 / 3 / 3; 
					display: grid;
					grid-template-columns: 1fr 2fr;
					grid-template-rows: 1fr 2fr;
					grid-gap: 10px;
						.wrap_box3_image{grid-area: 1 / 1 / 3 / 2;}
						.wrap_box_title{grid-area: 1 / 2 / 2 / 3;}
						.wrap_box_subtitle{grid-area: 2 / 2 / 3 / 3; }
				 
				}
				.box4 { grid-area: 3 / 2 / 4 / 3; 
					display: grid;
					grid-template-columns: 1fr 2fr;
					grid-template-rows: 1fr 2fr;
					grid-gap: 10px;
						.wrap_box4_image{grid-area: 1 / 1 / 3 / 2;}
						.wrap_box_title{grid-area: 1 / 2 / 2 / 3;}
						.wrap_box_subtitle{grid-area: 2 / 2 / 3 / 3; }
				}
		}
	}
	
}

//  ======для страницы О обувной мастерской page2======
.page2{
	.wrap{
		.wrap_grid_page2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);	
	grid-gap: 15px;
		.wrap_box{
			.wrap_box_image{
				background-image: url(/img/page/page2.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				max-width: 100%;
				height: 400px;
			}
		}
}
	}
}
//  ======для страницы Портфолио page3======
// для page 3 BeforeAfter
//разрешение фото должно совпадать с этими параметрами
//разрешение фото должно совпадать с этими параметрами

$max-width: 800px;
$height: 600px;

html, body{
	margin: 0;
	padding: 0;
}

.wrap3{
	position: relative;
	margin: 0 auto;
	max-width: $max-width;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}
.box{
	opacity: 0;
}

.box{
	max-width: $max-width;
	width: 100%;
	height: $height;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr;
	margin: 20px auto;	
	grid-area: 1 / 1 / 2 / 2;
	transition: .3s;

}
.box_btn{
	z-index: 7777;
	width: $max-width;
	height: $height;
	margin: 20px auto;
	position: relative;	
	grid-area: 1 / 1 / 2 / 2;
}
.left_img{
	// width: 320px;
	width: calc(100%/2); //левое фото - половина от основного
	height: $height;	
	background-repeat: no-repeat;
	 grid-area: 1 / 1 / 2 / 2;
	 z-index: 99;
	 border-right-style: solid;
	 border-right-color: white;
	 border-right-width: 1px;	 

}
.right_img{
	max-width: $max-width;
	height: auto;	
	background-repeat: no-repeat;
    grid-area: 1 / 1 / 2 / 2;
}
.rng{
	max-width: 560px; //подобрать опытным путем
	width: 100%;
	position: absolute;	
	top: 45%; //подобрать опытным путем
	left: 15%; //подобрать опытным путем
	appearance: none;//иначе не будет работать стилизация, та что ниже
	
}
.arrow_left{
	width: 60px;
	height: 60px;
	background-image: url('/img/slider/arr_left.svg');
	position:absolute;
	top:45%;
	left:5%;
	cursor: pointer;
	opacity: .5;
}
.arrow_left:hover{
	opacity: .7;
}
.arrow_right{
	width: 60px;
	height: 60px;
	background-image: url('/img/slider/arr_right.svg');
	position:absolute;
	top:45%;
	right:5%;
	cursor: pointer;
	opacity: .5;
}
.arrow_right:hover{
	opacity: .7;
}
.visible{
	opacity: 1;
}


//стилизация input range
input:focus, textarea:focus {
        outline:none;
}
input[type="range"]::-webkit-slider-runnable-track {

 -webkit-appearance: none !important;
  height: 0px; //высота дорожки 0 делает его невидимым

} 
//сам бегунок
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important; 
  height: 60px;
  width: 60px;  
  //background-color: rgba(80, 55, 80, 0.5);
  //transform: rotate(45deg);
  background-image: url('/img/slider/slider1.svg');
  opacity: .7;
  background-repeat:no-repeat;  
  cursor: pointer;
  transition: .3s;
  //margin-top: -14px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
 //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Добавляем классные эффекты для слайдера! */
}

input[type="range"]::-webkit-slider-thumb:hover{
	opacity: .4;
}

//анимируем доты


@keyframes anidot {
	0%{transform: scale(2);}
	50%{
		transform: scale(0);		
	}
	100%{transform: scale(1);}
}

//===== Конец 3 страницы Портфолио===
// Страница  Портфолио для разрешения меньше 800 px
.page4{
	display: none;
	img{
		max-width: 300px;
		height: auto;
	}
}
.section{
			/*max-width: 760px;*/
			width: 100%;
			height: auto;

			display: flex;
  			overflow-x: auto;
  			//overflow-x: hidden;
  			scroll-snap-type: x mandatory;
  			/*margin-left: 200px;*/
  			/*CSS свойство scroll-snap-type определяет как строго прокрутка контейнера привязывается к  точкам привязки.*/
  			


		}
		.section_item{
			min-width: 300px;

			//height: 480px;
			//background: green;
			margin-left: 20px;
			margin-right: 20px;

			scroll-snap-align: center;/*scroll-snap-alignСвойство определяет положение привязки блока как выравнивание его области привязки (как объекта выравнивания) в пределах snapport его контейнера привязки (как контейнера выравнивания). Эти два значения задают выравнивание привязки по оси блока и встроенной оси соответственно. Если указано только одно значение, то второе значение по умолчанию будет таким же.*/
			scroll-snap-stop: always; /*//для мобильной версии , разрешено ли контейнеру прокрутки "пропускать" возможные позиции привязки.Это заставляет прокручиваемый контейнер остановиться на этом элементе, прежде чем пользователь сможет продолжить скролить.*/
		}



// Конец cтраница 4 Портфолио для разрешения меньше 800 px

div{
	border:1px solid white;
}
// ====для страницы 5 page 5
.page5{
	
}
.wrap_grid_page5{
	display: grid;
	// grid-template-columns: repeat(1, 1fr);	
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	max-width: 1170px;
	

		.page5_btn{
			z-index: 7777;
			width: $maxWidth;
			height: auto;
			margin: 20px auto;
			position: relative;	
			grid-area: 1 / 1 / 2 / 2;
				.page5_arrow_left{
					width: 60px;
					height: 60px;
					background-image: url('/img/slider/arr_left.svg');
					position:absolute;
					top:45%;
					left:5%;
					cursor: pointer;
					opacity: .5;
				}
				.page5_arrow_left:hover{
					opacity: .7;
				}
				.page5_arrow_right{
					width: 60px;
					height: 60px;
					background-image: url('/img/slider/arr_right.svg');
					position:absolute;
					top:45%;
					right:5%;
					cursor: pointer;
					opacity: .5;
				}
				.page5_arrow_right:hover{
					opacity: .7;
				}
		}
	
	.slider_box{
		
		max-width: 100%;
		display: flex;
		
		grid-area: 1 / 1 / 2 / 2;
		.slider_box_item{
			width: 30%;
			
				.wrap_box5_image{					
					background-repeat: no-repeat;
					background-size: cover;
					max-width: 150px;
					height: 150px;
					border-radius: 50%;
					margin: 0 auto;					
				}
				.image1{
						background-image: url('/img/feed/wrap_box1_image.jpg');
					}
				.image2{
						background-image: url('/img/feed/wrap_box2_image.jpg');
					}
		}
	}
	
}

//=========Конец 5 ==============
// ======Адаптивность=======

@media all and (max-width: 768px){
	
	.menu{
		display: none;
	}
	.mobile_menu{
	display: block;
}
	.header{
		display: none;
	}
	.wrap_mobile_menu{
		.menu_box{
			font-size: 18px;			
		}
	}
	.page3{
		display: none;
	}
	.page4{
		display: block;
	}

}

@media all and (max-width: 360px){


	
}